thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background: #456;
    color: white;
}


td:nth-child(1) {  
    background:rgb(51, 122, 183);
    font-weight: bold;
    color: white;
    width:100px;
}

.page-header {
    background: white;
    text-align: center;
    text-transform: uppercase;
    color:#456;
    font-weight: bold;
    font-size: 50px;
  }

.text-right {
    margin-right: 30px;
    padding-top: 20px;
}

#username_text {
    padding:10px; 
    display:inline-block;
}

#username_input {
    display:inline-block; 
    margin-right: 5px;
}

#button_logout {
    margin-right: 100px;
}

#button_refresh {
    margin-right:600px;
    display:inline-block;
    
}

#myInput {
    width:400px;
    display:inline-block;
}

#table {
    margin-top: 10px;
}

input[id^="submit_button"] {
    margin-left: 20px;
}

input[id^="command_box"] {
    width:500px;
    display:inline-block;
}

textarea[id^="logging_area"]{
    overflow-y: scroll;
    height: 125px;
    width: 100%;
    margin-top: 20px;
    resize: none; 
    color: #2e2e2e;
}

#cmd_status {
    pointer-events: none;
    background-color: orange;
    visibility: hidden;
    margin-left: 20px;
}

.cmd_sent {
    visibility: visible;
}