body {
    background-color: #fcfcfc;
    background-image: url("../img/part-bg.png");
}

#main-section {
    overflow: hidden;
}

#mynetwork {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right:auto;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.48;
    z-index:-1;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background: #456;
    color: white;
}


td:nth-child(1) {  
    background:rgb(51, 122, 183);
    font-weight: bold;
    color: white;
    width:100px;
}

.page-header {
    text-align: center;
    text-transform: uppercase;
    color: #2f3740;
    font-weight: bold;
    font-size: 40px;
    z-index: 
  }

.text-right {
    margin-right: 30px;
    padding-top: 20px;
}

#username_text {
    padding:10px; 
    display:inline-block;
}

#username_input {
    display:inline-block; 
    margin-right: 5px;
}

#button_logout {
    margin-right: 100px;
}

#button_refresh {
    margin-right:600px;
    display:inline-block;
    
}

#myInput {
    width:400px;
    display:inline-block;
}

#table {
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 13px 2px rgba(138,138,138,1);
    box-shadow: 0px 0px 13px 2px rgba(138,138,138,1);
}

input[id^="submit_button"] {
    margin-left: 20px;
}

input[id^="command_box"] {
    width:500px;
    display:inline-block;
}

textarea[id^="logging_area"]{
    overflow-y: scroll;
    height: 125px;
    width: 100%;
    margin-top: 20px;
    resize: none; 
    color: #2e2e2e;
}

button[id^="cmd_status"]{
    pointer-events: none;
    background-color: orange;
    visibility: hidden;
    margin-left: 20px;
}

.cmd_sent {
    visibility: visible;
}

.empty_td{
    background-color: #6183ba !important;
}

.data_td{
    background-color: white !important;
}

.data-row{
    background-color: #f2f2f2;
}
.data-row:hover { 
    background-color: #cccccc;
    cursor: pointer;
}

.footer {
    width:100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    text-align: center;
  }

.footer-text {
    display:inline-block;
    font-size:13px;
    margin-left: 5px;
}

.footer-img {
    display:inline-block;
}