<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/particle-js.js') }}"></script>
    <script>
     particlesJS.load('particles-js', "{{ url_for('static', filename='js/particlesjs-config-2.json') }}");
    </script>
  </head>

  <body>
    <div id="particles-js"></div>
    <div id="main-section">
        <div class="text-right">
            <p id='username_text'>Username:</p>
            <p id='username_input'>{{ user }}</p>
            <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Logout</button>
            <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-body text-center"><i class="fa fa-question-circle"></i> Are you sure you want to log out?</div>
                  <div class="modal-footer">
                        <button class='btn btn-primary' id='button_logout'>Logout</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

       <div class = "text-center page-header">
             Device List
       </div>

        <div class="container">
          <div align="right">
            <button class="btn btn-primary" id="button_refresh">Refresh</button>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
          </div>
          <div id="table" name="table">
          <table class="table" data-search="true">
            <thead>
              <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="addr" data-sortable="true">Addr</th>
                <th data-field="port" data-sortable="true">Port</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for d in devices %}
              <tr class="data-row accordion-toggle" data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                  <td>{{ d.id }}</td>
                  <td>{{ d.name }}</td>
                  <td>{{ d.addr_str }}</td>
                  <td>{{ d.port }}</td>
              </tr>
              <tr>
                  <td class="empty_td"></td>
                  <td class="data_td" colspan="3">
                    <div id="collapse{{ loop.index }}" class="collapse out">
                      <input class="cmd_box form-control" id="command_box{{ d.id }}" onkeypress="enter_handler({{ d.id }})" type="text" placeholder="Type a command">
                      <input type="submit" class="submit_btn btn btn-primary" id="submit_button{{ d.id }}" value="Send">
                      <!--<button class="btn btn-primary" id="cmd_status{{ d.id }}">Command sent, waiting for ACK...</button>-->
                      <button class="btn btn-info" id="start{{ d.id }}">Refresh Auto</button>
                      <button class="btn btn-danger" id="stop{{ d.id }}">Stop Auto Refresh</button>
                      <textarea id="logging_area{{ d.id }}" readonly>{{ d.msg_hist_str }} </textarea>
                    </div>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
          </table>
          </div>
        </div>
        <div class="footer">  
          
          <div class="footer-img">
          <a href="https://github.com/jaumecolomhernandez/autoconfig-openthread">
            <img alt="GitHub" src="{{ url_for('static', filename='img/github.svg') }}"
              height="23">
                </a>                    
          </div>
          <div class="footer-text">
              PAET 5G IOT-Mesh   
          </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $('.collapse').collapse('hide')
            $("#myTable .data-row").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script> 
        
    <script type=text/javascript>
      $(function(){
        $('#button_refresh').click(function(){
          location.reload();        
      });
      });
    </script>

    <script type=text/javascript>
    $(function(){
      $('#button_logout').click(function(){
        $("html").load("/logout");
      });
    });
    </script>

    <script type=text/javascript>
      function enter_handler(device_id) {
          var key = window.event.keyCode;
          // If the user has pressed enter
          if (key === 13) {
            //var x = document.getElementById("cmd_status"+device_id);
            //x.style.visibility = "visible";
            var cmd = document.getElementById('command_box'+device_id).value
            document.getElementById('command_box'+device_id).value = ""      
            $.ajax({
                type: "POST",
                url: '/send',
                data: {
                  'id' : device_id,
                  'command' : cmd
                }
            });       
          }
      }
    </script>    

    {% for d in devices %}    
    <script type=text/javascript>
      $(function(){
        $('#submit_button{{ d.id }}').click(function(){
          var cmd = document.getElementById('command_box{{ d.id }}').value
          document.getElementById('command_box{{ d.id }}').value = ""      
          //var x = document.getElementById("cmd_status{{ d.id }}");
          //x.style.visibility = "visible";
          $.ajax({
              type: "POST",
              url: '/send',
              data: {
                'id' : {{ d.id }},
                'command' : cmd
              }
          });       
        });
      });
    </script>
    {% endfor %}

    {% for d in devices %}    
    <script>

      var intervalID{{ d.id }} = 0

      function startInterval{{ d.id }}(){
        document.getElementById('logging_area{{ d.id }}').style['background-color'] = '#ebfaff'
        intervalID{{ d.id }} = setInterval(function(){
          $.get( "api/get_history/{{ d.id }}", function( data ) {
              document.getElementById('logging_area{{ d.id }}').value = data
          });        
        }, 600);
      }

      function stopInterval{{ d.id }}(){
          document.getElementById('logging_area{{ d.id }}').style['background-color'] = '#fcfcfc'
          clearInterval(intervalID{{ d.id }}); 
      }

      $('#start{{ d.id }}').bind("click", startInterval{{ d.id }}); // use .on in jQuery 1.7+
      $('#stop{{ d.id }}').bind("click", stopInterval{{ d.id }});
    </script>
    {% endfor %}

    </body>
</html>