<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<script src="{{ url_for('static', filename='js/particle-js.js') }}"></script>
<script>
  particlesJS.load('particles-js', "{{ url_for('static', filename='js/particlesjs-config.json') }}");
</script>
</head>
<body>
<div id="particles-js"></div>
<div id="rest">
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">PAET Log in</h2>

  <form class="login-container" action="" method="post">
    <p><input type=text name=username placeholder="Username"></p>
    <p><input type=password name=password placeholder="Password"></p>
    <p><input type=submit value="Log in"></p>
    <p class="err">{{ err }}</p>
  </form>
</div>
</div>
</body>
</html>